@mixin navbar {

    display: flex;
    align-items: center;
    gap: 20px;

    a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

}

@mixin footer {
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    font-size: 14px;
    .footer_col {
        margin-bottom: 20px;
        min-width: 150px;
    }
}

nav{
    @include navbar;
}

footer {
    @include footer;
}